@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-font-family: "Zalando Sans", sans-serif; 
  --default-header-font-family: "DM Serif Text", sans-serif;
  --bg-one: #ffe3b3;
  --bg-two: #ffc872;
  --bg-three: #30a0e0;
  --bg-four: #006bbb;
  --tag-one: #ff595e;
  --tag-two: #ffca3a;
  --tag-three: #8ac926;
  --tag-four: #1982c4;
  --tag-five: #6a4c93;
  --tag-six: #283d3b;
  --tag-seven: #197278;
  --tag-eight: #c44536;
  --tag-nine: #772e25;
  --tag-ten: #f7a07;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
